* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #081b31;
    color: #e0e0e0;
}

h1 {
    height: 5rem;
    /* Center{ line height = height }*/
    line-height: 5rem;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #c5c5c5;
}


img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
    font-family: "Protest Revolution", sans-serif;
    
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    font-family: "Protest Revolution", sans-serif;
    background-color: #ffffff;
    color: #081b31;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}